<div id="about" class="animate">
    <div class="frame2" style="float: none; margin: 0px auto;">
        <img src="images/team.jpg" alt="Img">
    </div>
    <h2>L'association Danses &amp; Co.</h2>

    <p>
        L’association, à but non lucratif, est inscrite au registre des associations du Tribunal d’Instance de Mulhouse.
    </p>
    <p>
        L’association a pour objet:<br/>
        <i class="fa fa-arrow-right"></i> l’initiation, la formation et la pratique de la danse sous les formes les plus diverses et en particulier en couple
        ou en groupe ou tout autre vocable tendant à désigner la même activité, sans distinction, dans le respect de chacun<br/>
        <i class="fa fa-arrow-right"></i> de permettre à chacun de prendre conscience de ses aptitudes et de développer sa personnalité.
    </p>
    <p>
        L’association est respectueuse des convictions personnelles de chacun. Elle s’interdit toute attache à un parti ou à une confession,
        ainsi que toute propagande politique ou religieuse.
    </p>
    <p>
        Elle est dirigée par un Comité Directeur composé de 9 membres, tous bénévoles.
        Son rôle est de prendre toutes les décisions nécessaires à la gestion quotidienne de l’Association.
    </p>
    <p>
        <span>Président:</span> Fanny RODRIGUEZ<br/>
        <span>Vice-président:</span> Raoul HECKY<br/>
        <span>Secrétaire:</span> Elodie DUNIKOWSKI<br/>
        <span>Trésorier:</span> Aude GREINER<br/>
        <span>Assesseurs:</span> Laurence BEURTHERET, Gilles BIHR, Frédéric GREINER, Delphine RODRIGUEZ, José-Manuel RODRIGUEZ<br/>
    </p>
    <p>
        Le comité se réunit au moins deux fois par an ou à chaque besoin de l’association.<br/>
        Le comité présente son travail à l’ensemble des membres de <strong>Danses &amp; Co</strong> lors de l’Assemblée Générale Annuelle.
    </p>
</div>
