<div id="schedules" class="animate">
    <div id="main" ui-view class="animate">
        <div class="frame2">
            <img src="images/stretching.jpg" alt="Img">
        </div>
        <h2>Les cours chez Danses &amp; Co.</h2>
        <p>
            blablablablablabl balblablablabla
        </p>
        <p>
            Blab bla Blab bla Blab bla Blab bla
        </p>
        <p>
            <em>Inscription:</em><span class="month">Septembre</span> pour le début de saison.
        </p>
        <p>
            <em>Durée de la saison:</em> Sept à Dec, Jan à Juin
        </p>
        <p>
            <em>Durée d'un cours:</em> 1h
        </p>
    </div>
    <div id="sidebar">
        <div class="section">
            <div>
                <h3>Les cours</h3>
                <ul>
                    <li ng-class="{selected: $state.includes('courses.std')}">
                        <a ui-sref="courses.std">Toutes danses standard</a>
                    </li>
                    <li ng-class="{selected: $state.includes('courses.latines')}">
                        <a ui-sref="courses.latines">Danses latines</a>
                    </li>
                    <li ng-class="{selected: $state.includes('courses.zumba')}">
                        <a ui-sref="courses.zumba">Zumba</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="contactbox">
            <div>
                <div>
                    <h3>Nous contacter</h3>
                    <ul>
                        <li>
                            <span>Addresse:</span>
                            <p>
                                Danses &amp; Co.<br> 19, rue des Boulangers<br> 68330, Hunigue<br><br>
                            </p>
                        </li>
                        <li>
                            <span>Phone:</span>
                            <p>
                                (+33) 7 83 93 68 09
                            </p>
                        </li>
                        <li>
                            <span>Email:</span>
                            <p>
                                contact @ danses-co.fr
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
