<div class="frame2 animate">
    <img src="images/danse_part.jpg" alt="Img">
</div>
<h2 class="animate">Cours de danse particulier</h2>
<p>
    Vous souhaitez bénéficier de cours particulier, préparer un évènement avec un professeur juste pour vous? Notre association mettra tout en oeuvre pour vous satisfaire.
</p>
<p>
    <em>Quand?</em><span class="time">Sur demande</span>
    <em>Horaire:</em><span class="time">Sur demande</span>
</p>
<p>
    <em>Lieu:</em><span>C.A.C.L.</span>Salle du foyer club des jeunes, 3eme étage, 3 place Abbatucci, 68330 Hunigue<br/>
    <span>Chez vous</span>Un cours particulier à la maison est envisageable
</p>
<p>
    <em>Tarif horaire (max 2 personnes):</em>
    <span>36€</span>1h<br/>
    <span>200€</span>6h<br/>
    <span>300€</span>10h<br/>
</p>
