<div class="frame2 animate">
    <img src="images/danse_zumba.jpg" alt="Img">
</div>
<h2 class="animate">Cours de zumba</h2>
<p>
    La <strong>Zumba</strong> est un programme d'entraînement physique combinant des éléments d'aérobic et de
    danse jazz. Les chorégraphies s'inspirent principalement des danses latines (salsa, merengue,
    cumbia, reggaetón, kuduro…), mais aussi de styles variés comme le bollywood, la danse du ventre ou le swing.
</p>
<p>
    Il s’agit de transpirer, se muscler, raffermir, tout en dansant. Cette discipline est accessible
    aussi bien aux hommes qu’aux femmes.
</p>
<p>
    <em>Quand?</em><span class="time">Vendredi</span>
    <em>Horaire:</em><span class="time">19h-20h</span>
</p>
<p>
    <em>Lieu:</em><span>C.A.C.L.</span>Salle du foyer club des jeunes, 3eme étage, 3 place Abbatucci, 68330 Hunigue
</p>
<p>
    <a magnific-popup href="images/salle_cacl_map.jpg">
    <img src="images/salle_cacl_map_small.jpg" alt="map"><br/>
    <small>Click pour aggrandir</small>
    </a>
</p>
<p>
    <em>Tarif séance 1h:</em><span>5€</span>
    <em>Tarif carte:</em><span>50€</span>Carte 10 séances + 1 séance gratuite
</p>
