<div class="frame2 animate">
    <img src="images/danse_latine.jpg" alt="Img">
</div>
<h2 class="animate">Toutes Danses <strong>latine</strong></h2>
<p>
    Danses latines : il existe 5 danses qualifiées de <strong>latines</strong> :
    <ul>
        <li>Cha Cha</li>
        <li>Rumba</li>
        <li>Jive (Rock)</li>
        <li>Paso Doble</li>
        <li>Samba</li>
    </ul>
</p>
<p>
    Dans ce cours, vous verrez également d’autres danses dites <strong>latinos</strong> : salsa, merengue, bachata... Notre
    professeur a à coeur de répondre aux attentes du groupe.
</p>
<p>
    <em>Quand?</em><span class="time">Mardi</span>
    <em>Horaire débutant:</em><span class="time">19h-20h</span>
    <em>Horaire avancé:</em><span class="time">20h-21h</span>
</p>
<p>
    <em>Lieu:</em><span>Salle des jardins familiaux</span>Salle des jardins familiaux, rue de la libération, 68330 Hunigue
</p>
<p>
    <a magnific-popup href="images/salle_jardin_map.jpg">
    <img src="images/salle_jardin_map_small.jpg" alt="map"><br/>
    <small>Click pour aggrandir</small>
    </a>
</p>
<p>
    <em>Tarif</em>Nos tarifs sont basés sur 11 séances par trimestre soit 33 séances annuelles.
    <em>Tarif trimestre:</em>1h: <span>90€</span>2h: <span>140€</span>
    <em>Tarif année:</em>1h: <span>215€</span>2h: <span>360€</span>
</p>
<p>
    <i>Paiement possible en 3 fois par chèques</i><br/>
    <strong>Les tarifs comprennent la licence fédérale obligatoire.</strong>
</p>
