<div class="frame2 animate">
    <img src="images/stretching.jpg" alt="Img">
</div>
<h2 class="animate">Cours de zumba</h2>
<p>
    This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.
</p>
<p>
    You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
</p>
<p>
    If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
</p>
<p>
    <em>Enrollment:</em><span class="month">June 4-8</span><span class="time">8am-5pm</span><span class="age">Ages 3-5</span>
</p>
<p>
    <em>Course Duration:</em> Sept. 1, 2023 to Feb. 29, 2023
</p>
<a href="schedules.html" class="btn">Download Curriculum</a>
