<div class="frame2 animate">
    <img src="images/danse_std.jpg" alt="Img">
</div>
<h2 class="animate">Toutes danses <strong>standard</strong></h2>
<p>
    Danses standards : il existe 5 danses qualifiées de <strong>standards</strong> :
    <ul>
        <li>Valse Anglaise</li>
        <li>Valse Lente</li>
        <li>Valse Viennoise</li>
        <li>Tango</li>
        <li>Quick Step</li>
        <li>Slow Fox Trot</li>
    </ul>
</p>
<p>
    <em>Quand?</em><span class="time">Lundi</span>
    <em>Horaire débutant:</em><span class="time">19h-20h</span>
    <em>Horaire avancé:</em><span class="time">20h-21h</span>
</p>
<p>
    <em>Lieu:</em><span>C.A.C.L.</span>Salle du foyer club des jeunes, 3eme étage, 3 place Abbatucci, 68330 Hunigue
</p>
<p>
    <em>Tarif</em>Nos tarifs sont basés sur 11 séances par trimestre soit 33 séances annuelles.
    <em>Tarif trimestre:</em>1h: <span>90€</span>2h: <span>140€</span>
    <em>Tarif année:</em>1h: <span>215€</span>2h: <span>360€</span>
</p>
<p>
    <i>Paiement possible en 3 fois par chèques</i><br/>
    <strong>Les tarifs comprennent la licence fédérale obligatoire.</strong>
</p>
