<div class="body animate">
    <div class="frame3" style="float: none; margin: 0px auto;">
        <img src="images/ffd.jpg" alt="Img">
    </div>
    <h2>La fédération francaise de danse</h2>
    <p>
        Comme indiqué dans ses statuts, l’association <strong>Danses &amp; Co</strong> est affiliée à la Fédération Française de Danse.
        LA FFD est agréée par l’Etat. Délégataire du Ministère de la Santé, de la Jeunesse et des Sports, elle est
        reconnue par le Ministère de la Culture.
    </p>
    <p>Ayant  une mission de service public elle est chargée de :</p>
    <ul>
        <li>promouvoir l’éducation par les activités physiques et sportives,</li>
        <li>développer et d’organiser la pratique de ses activités,</li>
        <li>regrouper, fédérer, représenter, accompagner les associations, les organisations à but lucratif et pratiquants de toutes les danses,</li>
        <li>assurer la formation et le perfectionnement de ses cadres bénévoles,</li>
        <li>organiser les compétitions sur l'ensemble du territoire et délivrer les titres officiels de « champion de France », de région, et de département.</li>
        <li>délivrer des licences.</li>
    </ul>
    <p>
        <u>Suivant les consignes de la Fédération de Française de Danse, chaque membre doit souscrire une licence.</u>
    </p>
    <p>
        Danseurs pratiquants pour le loisir ou la compétition : la licence fédérale est votre carte d'identité sportive.
        Elle est valable du 1er Septembre au 31 août (saison sportive), pour toutes les activités de la Fédération et de ses
        structures affiliées.
    </p>
    <p>
        Elle vous permet d'accéder à toutes les formes de pratique : loisir, compétition locale, nationale, internationale.
        Prendre une licence sportive signifie adhérer à la Fédération Française de Danse. Elle permet notamment à son
        détenteur de participer à la vie de la fédération et de ses instances territoriales.
    </p>
    <p>
        Les services attachés à la licence:</p>
        <ul>
            <li>Garanties assurance adaptées à la pratique de la danse dans toutes les structures affiliées, pour le loisir et/ou la compétition:
                <ul>
                    <li>Responsabilité civile</li>
                    <li>Individuelle Accident</li>
                    <li>Options complémentaire: encadrants/animateurs...</li>
                </ul>
            </li>
            <li>Accès à toutes les manifestations (compétitions, challenges, bals…) et actions fédérales
                (formation pour l’obtention de titre fédéraux, stages d’initiation et de perfectionnement)</li>
                <li>Participation à la vie fédérale : devenez élu de votre comité départemental ou régional de danse et
                    contribuez ainsi au développement de la discipline en France</li>
                    <li>Tarifs réduits : avantages négociés avec les partenaires FFDanse locaux et nationaux (boutiques,
                        équipements, hôtels…), accès aux événements fédéraux...</li>
                    </ul>
                    <p>
                        <strong>Danses &amp; Co s’occupe de faire les démarches pour vous. Il est indispensable que vous produisiez un
                            certificat médical datant de moins de 3 mois et précisant une non contre indication à la pratique de la
                            danse.</strong>
                        </p>
                    </div>
