<div class="body animate">
    <div class="frame1">
        <img src="images/flyers_a5_test.png" alt="Img">
    </div>
    <h2>Bienvenue chez Danses &amp; Co</h2>
    <p>
        L’Association <strong>Danses &amp; Co.</strong> est le fruit de la rencontre de passionnés de danses. Que ce soit les danses de salon, les danses latinos ou encore la Zumba, toutes les opportunités sont bonnes pour se réunir pour danser et profiter ensemble.
    </p>
    <p>
        <strong>Danses &amp; Co.</strong> dispense ses cours de danses dans la ville de Huningue, aux frontières Suisse et Allemande. Soutenue par la municipalité, les cours se déroulent au sein du CACL Foyer Club des Jeunes (place abbatucci).
    </p>
    <p>
        L’association est affiliée à la Fédération Française de Danse.
    </p>
    <h2 style="color: #950808;"><strong>Portes ouvertes</strong></h2>
    <p style="color: #950808 !important;">
    <strong>
		La nouvelle saison 2016-2017 débutera par une soirée portes ouvertes gratuite le VENDREDI 9 Septembre 2016 à 19h. La soirée se déroulera dans la salle du CACL au 3ème étage.
    </strong>
    </p>
    <p>
        <a magnific-popup href="images/salle_cacl_map.jpg">
        <img src="images/salle_cacl_map_small.jpg" alt="map"><br/>
        <small>Click pour aggrandir</small>
        </a>
    </p>
</div>
<div class="body animate">
    <div id="featured">
        <h3></h3>
        <ul>
            <li>
                <div class="video1">
                    <a ui-sref="about"><img src="images/asso.jpg" alt="about"></a>
                </div>
                <p>
                    L'association<span>Danses &amp; Co</span>
                </p>
            </li>
            <li>
                <div class="video1">
                    <a ui-sref="courses"><img src="images/cours.jpg" alt="cours"></a>
                </div>
                <p>
                    Apprendre à danser<span>Pour tous</span>
                </p>
            </li>
            <li>
                <div class="video1">
                    <a ui-sref="courses.particulier"><img src="images/mariage.jpg" alt="cours"></a>
                </div>
                <p>
                    Cours particuliers<span>Mariages, compétition, ...</span>
                </p>
            </li>
            <li>
                <div class="video1">
                    <a ui-sref="ffd"><img src="images/ffd.jpg" alt="ffd"></a>
                </div>
                <p>
                    Fédération Francaise de Danse<span></span>
                </p>
            </li>
        </ul>
    </div>

    <div id="schedule">
        <h3>Planning des prochains cours</h3>
        <div class="button faa-parent animated-hover" ng-click="agendaPrevious()" ng-show="previousButton">
            <i class="fa fa-chevron-up faa-float faa-fast"></i>
        </div>
        <ul>
            <li ng-repeat="sched in schedules" ng-class="{schedule_anim_down: down_anim, schedule_anim_up: up_anim}">
                <span class="time">{{sched.dateFormated}} {{sched.hourBegin}}-{{sched.hourEnd}}</span> <a href="#" ng-click="stateGo(sched.uri)">{{sched.cours}}</a> <strong ng-show="sched.free">GRATUIT</strong><br>{{sched.level}}
            </li>
        </ul>
        <div class="button faa-parent animated-hover" ng-click="agendaNext()" ng-show="nextButton">
            <i class="fa fa-chevron-down faa-float faa-fast"></i>
        </div>
    </div>
</div>
