<div class="body animate">
    <div class="frame1">
        <img src="images/flyers_a5_test.png" alt="Img">
    </div>
    <h2>Bienvenue chez Danses &amp; Co</h2>
    <p>
        L’Association <strong>Danses &amp; Co.</strong> est le fruit de la rencontre de passionnés de danses. Que ce soit les danses de salon, les danses latinos ou encore la Zumba, toutes les opportunités sont bonnes pour se réunir pour danser et profiter ensemble.
    </p>
    <p>
        <strong>Danses &amp; Co.</strong> dispense ses cours de danses dans la ville de Huningue, aux frontières Suisse et Allemande.
    </p>
</div>
<div class="body animate">
    <div id="featured">
        <h3></h3>
        <ul>
            <li>
                <div class="video1">
                    <img src="images/video-swanLake.jpg" alt="Video"> <a href="swanLake.html" class="play1">Play Video</a>
                </div>
                <p>
                    L'association<span>Danses &amp; Co</span>
                </p>
            </li>
            <li>
                <div class="video1">
                    <img src="images/video-steppingOut.jpg" alt="Video"> <a href="steppingOut.html" class="play1">Play Video</a>
                </div>
                <p>
                    Apprendre à danser<span>Pour tous</span>
                </p>
            </li>
            <li>
                <div class="video1">
                    <img src="images/video-phantom.jpg" alt="Video"> <a href="phantom.html" class="play1">Play Video</a>
                </div>
                <p>
                    Cours particuliers<span>Mariages, compétition, ...</span>
                </p>
            </li>
            <li>
                <div class="video1">
                    <img src="images/video-cats.jpg" alt="Video"> <a href="cats.html" class="play1">Play Video</a>
                </div>
                <p>
                    Fédération Francaise de Danse<span></span>
                </p>
            </li>
        </ul>
    </div>

    <div id="schedule">
        <h3>Planing des prochains cours</h3>
        <ul>
            <li>
                <span class="time">07/09/2015 19h-20h</span> <a href="schedules.html">Cours danses standards</a><br>Niveau débutant
            </li>
            <li>
                <span class="time">07/09/2015 20h-21h</span> <a href="schedules.html">Cours danses standards</a><br>niveau avancé
            </li>
            <li>
                <span class="time">08/09/2015 19h-20h</span> <a href="schedules.html">Cours danses latines</a><br>niveau débutant
            </li>
            <li>
                <span class="time">08/09/2015 20h-21h</span> <a href="schedules.html">Cours danses latines</a><br>niveau avancé
            </li>
            <li>
                <span class="time">11/09/2015 19h-20h</span> <a href="schedules.html">Cours de Zumba</a><br>tout niveau
            </li>
        </ul>
    </div>
</div>
