<ul id="blogs" class="animate">
    <li>
        <div class="header">
            <div class="details">
                <div class="frame3">
                    <img src="images/dance-tips.jpg" alt="Img">
                </div>
                <span class="category">Infos association:</span>
                <h3><a href="blog.html">Soirée de fin d'année 2014-2015</a></h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <div class="connect">
                    <p class="time">
                        Posté le 10 mai 2015
                    </p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="header">
            <div class="details">
                <div class="frame3">
                    <img src="images/dance-tricks.jpg" alt="Img">
                </div>
                <span class="category">Infos association:</span>
                <h3><a href="blog.html">Soirée de noël</a></h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <div class="connect">
                    <p class="time">
                        Posté le 5 décembre 2014
                    </p>
                </div>
            </div>
        </div>
    </li>
</ul>
